<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>
<body>
  <h1>Hogwarts students and houses.</h1>
  <nav>
    <ul>
      <li>
        <a href="/students">All students</a>
      </li>
      <li>
        <a href="/students/new">Add student to list</a>
      </li>
    </ul>
  </nav>
  <%= yield %>

</body>
</html>